<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BluetoothAlwaysUsageDescription</key>
	<string>Bluetooth接続するために使います</string>
	<key>LocalNetworkUsageDescription</key>
	<string>近くにいるユーザーを発見するためにローカルネットワークを使用します</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_FirestBreak._tcp</string>
	</array>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Track Your Hands</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>nearby-interaction</string>
	</array>
</dict>
</plist>
